<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">

    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="description" content="{{ page.description }}" />
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {% if site.favicon %}
            <link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
            <link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
        {% endif %}

        {% include basekit.headScript %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/3.3.1/modernizr.js"></script>
    </head>

    <body class="{{ page.backgroundClass }}">


        {% block content %}
        {% endblock %}


        {% include basekit.bodyScript %}


        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>


        <!-- Scripts -->
        <script src="{{ asset('scripts/twitter-slider.js')}}"></script>
        <script src="{{ asset('scripts/custom.js')}}"></script>

        <!--Scripts-->
        <script src="{{ asset('scripts/imagesloaded.js')}}"></script>
        <script src="{{ asset('scripts/masonry.min.js')}}"></script>


        <!-- Initialize Masonry Gallery-->
        <script>
            var elements = document.getElementsByClassName('gallery-list');
            var container = document.querySelector('.gallery-list');
            imagesLoaded( container, function() {
                var msnry = new Masonry( container, {
                    itemSelector: '.gallery-item'
                });
            });
        </script>


        <!-- Page Specific Scripts -->
        {% block scripts %}
        {% endblock %}

    </body>
</html>
